body {
    background-color: #F8FFE8;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #F7EED3;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-size: 15px;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
    /* margin-top: 10px; */
}

.message {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.remember{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
}

input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #F8FFE8;
}

button {
    margin-top: 35px;
    background-color: #F8FFE8;
    color: #000000;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #F5DBCB;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}